{% extends "base.html" %} {% block title %} Tambah Produk {% endblock title %}
{% block content %}
<form method="POST" class="post-form" action="/update/{{produk.id}}">  
  {% csrf_token %}  
  <div class="card-header">
    <a href="/" class="btn btn-secondary">Kembali</a>
    <button type="submit" class="btn btn-success">Update</button>  
  </div>
  <div class="card-body">
    <div class="col-12">  
        <h3>Update Details</h3>  
    </div> 
    <div class="mb-3"> 
        <label>ID Produk:</label>  
        <input type="text" class="form-control" name="id_produk" id="id_produk" required maxlength="30" value="{{ produk.id_produk }}"/>    
    </div> 
    status_id
    <div class="mb-3"> 
        <label>Nama Produk:</label>  
        <input type="text" class="form-control" name="nama_produk" id="nama_produk" required maxlength="200" value="{{ produk.nama_produk }}" />  
    </div> 
    <div class="mb-3"> 
        <label>Harga:</label>  
        <input type="number" class="form-control" name="harga" id="harga" required value="{{ produk.harga }}" />  
    </div> 
    <div class="mb-3"> 
        <label>Kategori:</label>  
        <input type="text" class="form-control" name="kategori_id" id="kategori_id" required value="{{ produk.kategori_id }}" />  
    </div> 
    <div class="mb-3"> 
        <label>Status:</label>  
        <input type="text" class="form-control" name="status_id" id="status_id" required value="{{ produk.status_id }}" />  
    </div> 
  </div>
</form>
{% endblock content %}
